body {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    background-image: url("https://images.template.net/133286/volunteers--week-background-i7k4p.jpg");
    color:blueviolet;
    background-size: cover;
}